body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh
}

.main-header {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 20px;
}

.post-box {
    padding: 5px;
}

.card {
    background-color: azure;
    float: none;
    margin: 20px auto 10px;
}

.menu-btn {
    margin: 5px;
}

.menu {
    text-align: center;
}

.addcomment-btn {
    float: left;
}

.deletecomment-btn {
    float: right;
}

.deletepost-btn {
    float: right;
}

.like-btn {
    float: right;
}

img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.comment {
    background-color: lavender;
}

.comment-user {
    color: darkcyan;
    font-size: 70%;
    font-style: italic;
}

.new-post-text {
    float: none;
    margin: 20px auto 10px;
}

.new-post-btn {
    margin-top: 10px;
    float: right;
}

.logout-btn {
    margin-top: 20px;
}

.btn-circle-small {
     width: 20px;
     height: 20px;
     padding: 0;
     border-radius: 10px;
     text-align: center;
     font-size: 10px;
     line-height: 1.42857;
 }

.btn-circle-large {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 15px;
    text-align: center;
    font-size: 10px;
    line-height: 1.42857;
}

.col-md-2 {
    background: rgba(0,0,0,.125);
    border-radius: 15px;
    height: fit-content;
}





