<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link
            href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
            rel="stylesheet"  type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <meta charset="UTF-8"/>
    <title>Twitter</title>
</head>
<body>
<div class="main-header">
    <h1>Tablica wiadomości</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <nav class="menu">
                <h3 th:text="${model.currentUser.getName() + ' ' + model.currentUser.getSurname()}"></h3>
                <img th:src="${model.currentUser.getUserImg()}" alt="User photo">
                <form action="/logout">
                    <button class="logout-btn menu-btn btn btn-primary" type="submit">Wyloguj</button>
                </form>
            </nav>
        </div>
        <div class="col-md-10">
            <div class="new-post-text w-50 media shadow-textarea">
                <div class="media-body">
                    <h5 class="font-weight-bold blue-text" th:text="${model.currentUser.getName() + ' ' + model.currentUser.getSurname()}"></h5>
                    <div class="form-group basic-textarea rounded-corners">
                        <form th:action="@{/addpost}" method="post" th:object="${newmessage}">
                            <textarea class="form-control z-depth-1" rows="3" type="text" name="message" th:value="${newmessage}" placeholder="Dodaj nowy post..."></textarea>
                            <button class="new-post-btn btn btn-primary" type="submit">Dodaj</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="post-box"  th:each="message : ${model.allMessages}">
                <div class="card w-50 border-primary" th:if="${message.parentId == null}">
                    <div class="card-body">
                        <form th:action="@{/deletepost}" method="post" th:object="${message}">
                            <input type="hidden" name="id" th:value="${message.id}"/>
                            <button type="submit" class="deletepost-btn btn-lg btn btn-danger btn-circle-large"><i class="fa fa-times"></i></button>
                        <h5 class="card-title" th:text="${message.user.getName() + ' ' + message.user.getSurname()}"></h5>
                        <p class="card-text text-center" th:text="${message.message}"></p>
                        <p class="text-right" th:text="${'Likes: ' + message.likes}"></p>
                        </form>
                        <a href="#" class="like-btn btn btn-primary">Like</a>
                    </div>
                    <div class="form-group basic-textarea rounded-corners card-footer">
                        <form th:action="@{/addcomment}" method="post" th:object="${newcomment}">
                            <textarea class="form-control" rows="1" type="text" name="message" th:value="${newcomment}" placeholder="Dodaj nowy komentarz..."></textarea>
                            <input type="hidden" name="parentId" th:value="${message.id}"/>
                            <button class="new-post-btn btn btn-info btn-circle-small" type="submit"><i class="fa fa-check"></i></button>
                        </form>
                    </div>
                    <div class="comment" th:each="comment : ${model.allMessages}">
                        <div class="card-footer" th:if="${(comment.parentId == message.id) && (comment.parentId != null)}">
                            <form th:action="@{/deletecomment}" method="post" th:object="${comment}">
                                <input type="hidden" name="id" th:value="${comment.id}"/>
                                <button class="deletecomment-btn btn-sm btn-danger btn-circle-small"><i class="fa fa-times"></i></button>
                            </form>
                            <p class="comment-user" th:text="${comment.user.getName() + ' ' + comment.user.getSurname() + ':'}"></p>
                            <small class="text-muted">
                                <p th:text="${comment.message}"></p>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>