<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" th:action="@{/login-process}" method="post">
            <label for="inputLogin">Login:</label>
            <input id="inputLogin" type="text" placeholder="Login" th:required="required" name="username"/>
            <label for="inputPassword">Password:</label>
            <input id="inputPassword" type="password" placeholder="Hasło" th:required="required" name="password"/>
            <button type="submit">Zaloguj</button>
            <p class="message">Not registered? <a href="/registeruser">Create an account</a></p>
        </form>
    </div>
</div>
</body>
</html>
