<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8"/>
    <title>Formularz Rejestracji</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/registerform.css}"/>
</head>
<body>
<div class="user">
    <header class="user__header">
        <img src="https://data4.cupsell.pl/upload/generator/260543/300x400/4166212_print_1.png?key=0c26bb9fd6bfdba0ac424c1f837fe23f"
             alt="Janusz"
             height="200" width="200"/>
    </header>

    <form class="form" th:action="@{/registeruser}" method="post" th:object="${userToInsert}">
        <div class="form__group">
            <input type="text" th:field="*{name}" placeholder="Imie" class="form__input" />
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
        </div>

        <div class="form__group">
            <input type="text" th:field="*{surname}" placeholder="Nazwisko" class="form__input" />
            <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</p>
        </div>

        <div class="form__group">
            <input type="text" th:field="*{userImg}" placeholder="Link do zdjecia" class="form__input" />
            <p th:if="${#fields.hasErrors('userImg')}" th:errors="*{userImg}">UserImg Error</p>
        </div>

        <div class="form__group">
            <input type="text" th:field="*{login}" placeholder="Login" class="form__input" />
            <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</p>
        </div>

        <div class="form__group">
            <input type="password" th:field="*{password}" placeholder="Haslo" class="form__input" />
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
        </div>
        <button class="btn" type="submit">Register</button>
    </form>
</div>
</body>
</html>